{% extends "base.html" %} {% load static %} {% block title %} | Login {% endblock title %} {% block css_files %}
<link rel="stylesheet" href="{% static 'css/login.css' %}"> {% endblock css_files %} {% block content %}
<div class="hero">
    <form method="post" class="login-form">
        <img src='{% static "img/LOGO_MB3.png" %}' alt="">
        <h1 class="title">Login</h1>
        {% csrf_token %} {{form.as_p}}
        <button type="submit" class="login-btn">Login</button>
    </form>
</div>{% endblock content %}