{% extends "base.html" %} {% load static %} {% block title %} | Vote {% endblock title %} {% block css_files %}
<link rel="stylesheet" href="{% static 'css/vote.css' %}"> {% endblock css_files %} {% block content %} {% if candidates %}
<div class="hero">
    <h1 class="title">Voting Page</h1>
    <ul class="candidates">
        {% for candidate in candidates %}
        <form method="post" class="candidate-form">
            {% csrf_token %}
            <img src="{{candidate.image.url}}" class='candidate-img'>
            <div class="candidate-details">
                <p>President</p>
                <h2 class="candidate-name">{{candidate.ketua}}</h2>
                <p>Vice President</p>
                <h2 class="candidate-name">{{candidate.wakil}}</h2>
            </div>
            <input type="radio" name="k{{candidate.id}}" class='checkbox' id='id_vote{{candidate.id}}' onchange="form_submit(this.form, '{{candidate}}', '{{candidate.id}}');">
            <label for="id_vote{{candidate.id}}" class="vote-btn">Pick</label>
        </form>
        {% endfor %}
    </ul>
</div>
{% else %}
<div class="messages">
    <h1>The voting has ended..., you'll be redirected to the home page in <span id='sec'>5</span> second</h1>
</div>
{% endif %} {% block js_files %} {% if candidates %}
<script>
    function form_submit(form, candidate, id_chk) {
        radio = document.getElementById('id_vote' + id_chk)
        confirmation = confirm('You chose ' + candidate + ', Do you wish to vote for them?');
        if (confirmation === true) {
            form.submit();
        } else {
            radio.checked = false;
            return false;
        }
    }
</script>
{% else %}
<script>
    let handle = setInterval(function() {
        sec = parseInt(document.getElementById('sec').innerHTML);
        sec -= 1;
        document.getElementById('sec').innerHTML = sec;
    }, 1000);
    setTimeout(function() {
        clearInterval(handle)
        handle = 0
        window.location.href = '{% url "Home" %}';
    }, 5000);
</script>
{% endif %} {% endblock js_files %} {% endblock content %}